*,
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
.header,
.bodyy {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  font-size: 15rem;
}
.div {
  font-size: 10rem;
}

/* adding in border box makes sure that any childs under the parent stay within the box and doesnt go ouside it */
/* Normally, 100% is 16px, but we want the size to be 10px so we do 62.5% instead*/
/* alwasy start with padding 0, margin 0, box sizing border box, and font size 62.5*/
/* 1 rem is equal to the default font sixe (10px) --> rems allow the font size to be relative*/
/* 1 em is equal to the font size of the parent --> can be really powerful and a good tool but rem is easier*/
/* use flex grow to just use up and aditional space */
