*,
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Oxygen", sans-serif;
  font-family: "Bitter", serif;
  background-color: #fcf3f2;
}
.all-boxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.main-header {
  text-align: center;
  margin: 5rem auto;
  font-size: 10rem;
  color: rgb(0, 71, 115);
}
.box {
  font-size: 8rem;
  color: #0076bf;
  border: solid 10px #153449;
  border-radius: 20px;
  width: 30%;
  height: 45vh;
  margin: 50px auto;
  padding: 15px;
  text-align: center;
  box-shadow: 1rem 1rem 1rem #2b6790;
}

/* colors: #153449 and #006aab */
/* adding in border box makes sure that any childs under the parent stay within the box and doesnt go ouside it */
/* Normally, 100% is 16px, but we want the size to be 10px so we do 62.5% instead*/
/* alwasy start with padding 0, margin 0, box sizing border box, and font size 62.5*/
/* 1 rem is equal to the default font sixe (10px) --> rems allow the font size to be relative*/
/* 1 em is equal to the font size of the parent --> can be really powerful and a good tool but rem is easier*/
/* use flex grow to just use up and aditional space */
/* use percentages for width */
/* use flex-wrap: wrap; to align a bunch of elements that are in 1 in-line element into even spaces onto the page*/
